---
import { Image } from 'astro:assets';
import github from '../assets/gh.svg';
import linkedin from '../assets/linkedin.svg';

const bio = 'Product Manager with a passion for combining design, data and technology to develop amazing products and experiences for users.';
const linkedinUrl = 'https://www.linkedin.com/in/herrerarodrigo1992';
const githubUrl = 'https://github.com/rodhd';
---
<section class="flex flex-col items-center justify-center text-center px-10 md:px-40 py-20">
  <p class="text-lg text-gray-600 mt-2">{bio}</p>
  <div class="flex space-x-6 mt-4">
    <a href={linkedinUrl} target="_blank" class="hover:opacity-75">
      <Image src={linkedin} alt="LinkedIn" class="w-16 h-16" />
    </a>
    <a href={githubUrl} target="_blank" class="hover:opacity-75">
      <Image src={github} alt="GitHub" class="w-16 h-16" />
    </a>
  </div>
</section>